<a href="https://colab.research.google.com/github/viniciuslino1/python_learning/blob/main/phyton_course_tera_basic_operations_lists_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Operações básicas:**

Adição

In [6]:
3 + 2

5

Subtração

In [7]:
2-3

-1

In [8]:
3-2

1

multiplicação

In [9]:
3*2

6

divisão

In [10]:
3/2

1.5

In [11]:
2/3

0.6666666666666666

In [12]:
6/2

3.0

Parte inteira da divisão usar  duas barras

In [13]:
3//2

1

Módulo da divisão (ou resto da divisão) usar o simbolo de porcentagem

In [14]:
3%2

1

Exponeciação (pontenciação) usar dois asterísticos

In [15]:
5**2

25

Raiz quadrada (equivalente a elevar a meio) - botar entre parenteses a divisão, se não será realizada essa operação primeiro

In [16]:
4**(1/2)

2.0

## **Variáveis**

É um dos conceitos mais utilizados nas linguagens de programação. **Utilizada para gravar valores na memória**, tornando possúvel gravar e ler esses valores em um nome pré-definido.

Declaração a variável `a` e atribuindo o valor 2 para ela

In [17]:
a = 2

Não confundir a atribuição `=` como sinal de igual, que em phyton é `==`

In [18]:
a == 2

True

Comando para escrever a variável `a` na tela

In [19]:
print(a)

2

Realizando operação com variáveis

In [20]:
b = 4

In [21]:
a + b

6

In [22]:
a + b + 1

7

Realizando operações um pouco mais complexas com variáveis

In [28]:
#Segue mesma ordem da matemática, usar parênteses para mudar
# PEMDAS - Parênteses, Exponeciação, Multiplicação, Divisão, Adição e Subtração
b**(1/2) + b*2 + b/(a-1)

14.0

### **Tipos de variáveis**

Os tipos são uma *forma* de classificar informação. Os tipos primitivos (elementares) são os tipos de dados mais simples em phyton, existem outros, mas segue os mais básicos:



*   int (integer) - para números inteiros
*   str (string) - para uma sequência de caracteres, representa textos
*   float - ponto flutuante, representa números decimais
*   bool - armazena True ou **False**


O comando `type` retorna o tipo da variável em questão

In [34]:
mensagem = "Exemplo de mensagem!"
idade = 25
pi = 3.141592653589931 #usar "." e não "," se não vai aparecer como tipo tupple, que é um tipo de lista
acertou = True

In [30]:
type(mensagem)

str

In [33]:
type (pi)

float

In [35]:
type(acertou)

bool

In [36]:
type(idade)

int

In [37]:
type (a)

int

In [38]:
a = a/2

In [39]:
type (a)

float

### **F-string**

As F-strings são formas de incorporar variáveis dentro das strings. Para isso, precisa colocar a letra f antes das "" que iniciam a string e colocar a variável que deseja ser incorporada.

Também é preciso colocar dentro das as aspas entre chaves `{}` o nome da variável em questão.

In [40]:
sobremesa = "bolo de chocolate"
print(f"Hoje a sobremesa é: {sobremesa}!")

Hoje a sobremesa é: bolo de chocolate!

In [43]:
#Para printar várias coisas basta colocar entre () e com o enter os comandos de print, por exemplo:
print(type(mensagem))
print(type(idade))

<class 'str'>
<class 'int'>

# **Listas e Tuplas**

São exemplos de estruturas sequenciais. Nessas estruturas você pode acessar os objetos contidos através da ordem que foram colocados, somente dando a posição deles é possível acessar.

A lista é a estrutura mais **versátil**, ela é **mutável**, permite adicionar coteúdo e alterar eles sem precisar realizar uma cópia da estrutura. A forma mais simples de criar uma lista é a declaração dos objetos que a compõem entre colchetes. `[]`

In [44]:
#Criando uma lista e chamando de 'x'
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

O tipo interno (`type`) da lista em **phyton** é a `list`.

In [45]:
type(x)

list

Outra forma de construir uma lista é convertendo outra sequência através do construtor `list()`.

In [46]:
# criando uma outra sequencia do tipo 'tuple'
y = list(('a', 'b', 'c'))  #tupla de entrada a, b, c, foi convertido em uma lista
y

['a', 'b', 'c']

In [47]:
type(y)

list

In [48]:
type((('a', 'b', 'c')))

tuple

Sobre elemtnos que podem compor uma `list`, **todos os tipos de objetos** são aceitos, inclusive o Non e ainda **outras sequências**. E não é necessário que todos os elementos sejam do mesmo tipo, a lista é **heterogênea** por construção.

In [51]:
# lista com diferentes tipos
x = [None, 1, 'a', 'palavra completa', [None, 'x', 1999], ('nome', 'joao')]
x

[None, 1, 'a', 'palavra completa', [None, 'x', 1999], ('nome', 'joao')]

## Acesso aos dados da lista

### Acesso pela posição do item

A forma mais simples de acessar um objeto da lista é pelo seu índice, ou seja pela posição que ele ocupa dentro da sequência. Os índices em Phyton começam pelo 0 como primeiro elemento da lista.

In [68]:
# criando a lista para testar conceitos
x = ['primeiro', 'segundo', 'terceiro', 'quarto', 'quinto', 'penúltimo', 'último']
x

['primeiro', 'segundo', 'terceiro', 'quarto', 'quinto', 'penúltimo', 'último']

In [69]:
x[3]

'quarto'

In [70]:
x[6]

'último'

In [71]:
x[0]

'primeiro'

### Acesso por segmento (ou operador `slice`)

A forma de identificar esse segmento de interesse é através do operador `:` , informando qual a **posição inicial** do segmento e também a **posição acima da final**.

O formato seria a seguinte forma:

`y = x[<primeira_posição>:<última_posição> + 1]`

In [72]:
# usando o slice para captar os 3 valores entre '2' (inclusive) e '5' (exclusive)
x[2:5] #desconsidera o número da última posição dada, o último valor é o limite exclusivo superior do slice

['terceiro', 'quarto', 'quinto']

In [73]:
# verificando a primeira posição
x[2]

'terceiro'

In [74]:
# verificando a posição relativa ao segundo termo (5) do 'slice'
x[5]

'penúltimo'

Como é possível observar, o elemento `5` não corresponde ao último elemento do `slice` `2:5`, pois o último valor é o **limite exclusivo superior** do `slice`.

In [75]:
#acessando os últimos 2 elementos da lista
x[5:]

['penúltimo', 'último']

Para acessar o **último elemento** da lista, é necessário **deixar vazi**o o último número do `slice`.

Para o caso do primeiro índice, **tanto faz** usar o **valor vazio** ou **zero**

In [76]:
# declarando o zero
x[0:3]

['primeiro', 'segundo', 'terceiro']

In [77]:
#omtindo o zero
x[:3]

['primeiro', 'segundo', 'terceiro']

### Operador de `slice` definindo o passo (`step`)

Também é possível definir de quantos em quantos índices o slice deve pegar os dados. O terceiro parâmetro do `slice` é chamdo de passo ou `step`.

`x[start:end:step]`

Por padrão, se o valor for omitido, se assume que é **igual a um**.

In [78]:
# `slice` com `step` igual 1
x[2:5:1]

['terceiro', 'quarto', 'quinto']

In [79]:
#`slice` com `step` não declarado
x[2:5]

['terceiro', 'quarto', 'quinto']

Se o `step` for **igual a dois**, por exemplo, o slice **vai pular um** elemento a cada passo.

In [80]:
x[1:5:2]

['segundo', 'quarto']

## Informações sobre a lista

As funções `len()`, `min()`, `max()`, `sum()` permitem realizar operações e receber informações da lista. Como o tamanho da lista, o primeiro e último elemento dela e somar listas de objetos numéricos

In [86]:
min(x)

'penúltimo'

In [87]:
max(x)

'último'

In [81]:
len(x)

7

In [90]:
y = [0,3,1,8,10,1,20]
sum (y)

43

In [91]:
max(y)

20

In [92]:
min (y)

0

### Adição e remoção de elementos da lista

Usar função `append()` vai adicionar um elemento no final da lista

`nome_lista.append(elemento_inserção)`

Já a função `insert()` permite inserir em outros lugares que não só o final da lista

`nome_lista.insert(posição, elemento_inserção)`

Para realizar a remoção de informações basta ulitizar a função `remove()` utilizando como entrada o elemento que se quer remover

`nome_lista.remove(elemento)`

In [93]:
z = [1,2,2,3,6,10]

In [94]:
#adicionando no final da lista
z.append(14)

In [95]:
print(z)

[1, 2, 2, 3, 6, 10, 14]

In [96]:
# adicionar um elemento em posição específica
z.insert(4, 6.9)
print(z)

[1, 2, 2, 3, 6.9, 6, 10, 14]

In [97]:
# remover elemento
z.remove(2)
print(z)

[1, 2, 3, 6.9, 6, 10, 14]

Como acessar dados de listas múltiplas

In [113]:
#Criação de lista múltipla
lista_mult = [[1,2,3],[4,5,6],[7,8,[9,10]]]

In [114]:
#Como acessar o 10 dentro do último colchete, o -1 retorna o último elemento da lista
lista_mult[-1][-1][-1]

10

## Tuplas

Elas podem ser criadas como as listas, ma com o operador panrênteses em vez de colchetes. Ela é um elemento mais estático que a lista, uma vez que para modificar ela deverá ser criada uma cópia da original com as alterações.

In [100]:
# criação de tupla
x = (1,2,3)
print(type(x))
x

<class 'tuple'>

(1, 2, 3)

In [101]:
# menor tupla possível
x = ('qualquer_elemento',)
print(type(x))
x

<class 'tuple'>

('qualquer_elemento',)

In [102]:
# falha ao gerar tupla possível lido como uma string
x = ('qualquer_elemento')
print(type(x))
x

<class 'str'>

'qualquer_elemento'

A tupla é o **tipo padrão para qualquer agrupamento** de dados não definido como outro. Se não houverem parênteses, a variável já recebe os valores como tupla

In [106]:
#construção de atribuição simples
x = 1, 2, 3
type(x)

tuple

### Acesso aos elementos da tupla

Todos os métodos de acesso aos dados por íncides e `slices` funcionam normalmente nas tuplas.

In [107]:
#Tupla criada
x = (1,2,3,4,5,6,7,8,9)

In [108]:
#revertendo a tupla
x[::-1] #quando usa o step -1 começa do fim ao inicio de um em um, retorna uma nova tupla, não tem alteração da tupla orginal

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [109]:
#criando uma lista e uma tupla iguais
xls = [1,2,3,4,5]
xlp = (1,2,3,4,5)
xls, xlp

([1, 2, 3, 4, 5], (1, 2, 3, 4, 5))

In [110]:
#edição da lista - OK
xls[2] = -5
xls

[1, 2, -5, 4, 5]

In [111]:
#edição da tupla - mensagem de erro
xlp[2] = -5
xlp

TypeError: 'tuple' object does not support item assignment

A principal vantagem da tupla sobre a lista é que, por ser uma estrutura estática, é muito mais simples de armazenar em memória, gastando menos espaço. A lista precisa de muito mais variáveis para ser eficiente, além de ter métodos específicos de edição.

A principal desvantagem da tupla é que toda vez que se quer alterar, é necessário construir uma nova tupla com a modificação. Isso pode pesar na memória e tornar qualquer programa ineficiente muito rápido, principalmente quando grandes quantidades de dados estão na tupla.

In [115]:
#Desempacotando tupla --> as variáveis a seguir vão ser atribuidas na mesma ordem da tupla
a,b,c,d,e = xlp